#app {
  min-height: 100vh;
  min-width: 100%;
  @include flex(column, $justify: flex-start);
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100vh;
  background-color: white;
  font-size: 16rem;
  font-family: $primary-font-family;
  color: map-get($color, "text");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}