@mixin font($family, $size, $style: normal, $weight: 400, $line: normal) {
    font-family: $family;
    font-size: $size;
    font-style: $style;
    font-weight: $weight; 
    line-height: $line;
}

@mixin screen($width) {
    @media screen and (min-width: $width){
        @content;
    }
}

@mixin flex($direction, $wrap: wrap, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap; 
    justify-content: $justify;
    align-items: $align;
}
