//Colors
$blue-color: #00e6f2;
$red-color: #d42217;
$white-color: #F9F9F9;
$soft-white-color: #D7D7D7;
$black-color: #1A1A1A;
$soft-black-color: #4F4F4F;

$color: (
  "primary": $blue-color,
  "contrast": $red-color,
  "background": $white-color,
  "border": $soft-white-color,
  "text": $soft-black-color,
  "text-bold": $black-color,
  "text-logo": $white-color,
);

// Fonts
$primary-font-family: "Oxygen";
$secondary-font-family: "Roboto";
$logo-font-family: "Lobster";

$font-size: (
  "sm": 1.2rem,
  "md": 1.8rem,
  "lg": 3.2rem,
);

// Breakpoints
$max-width: 1240px;

$screen-md: 480px;
$screen-lg: 960px;

